<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('pk_test_51PaZF9RxPgqbz4tE2ipZRF5wdrUp8z0VKZVhlMN7MaYuwlkbYoaAORMgs2WM0MMJnBAfeNlhBDdn3m98fAV4S0eh000VcIgqYP');
  var elements = stripe.elements();
</script>
</head>
<body>
  <div class="cart-container">
    <h1>Shopping Cart</h1>
    <ul>
      <% for(let product of cart) { %>
        <li>
          <%= product.name %> - $<%= product.price %>
          <form action="/cart/remove" method="POST" style="display:inline;">
            <input type="hidden" name="uniqueId" value="<%= product.uniqueId %>">
            <button type="submit" class="btn">Remove</button>
          </form>
        </li>
      <% } %>
    </ul>
    <h2 class="total-cost">Total Cost: $<%= totalCost %></h2>
    <form action="/payment" method="GET">
      <button type="submit" class="btn proceed-btn">Proceed to Payment</button>
    </form>
    <a href="/dashboard" class="btn">Back to Dashboard</a>
  </div>
</body>
</html>
