<!DOCTYPE html>
<html>
<head>
  <title>Create Shop</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="create-shop-container">
  <h1>Create Shop</h1>
  <form action="/shops/create" method="POST">
    <label for="name">Shop Name:</label>
    <input type="text" name="name" id="name" required>
    <br>
    <button type="submit">Create Shop</button>
  </form>
  <a href="/dashboard" class="btn">Back to Dashboard</a>
</div>
</body>
</html>
