<!DOCTYPE html>
<html>
<head>
  <title>Marketplace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="welcome-container">
  <h1>Welcome to the Marketplace</h1>
  <div class="button-container">
    <a href="/users/register" class="btn">Register</a>
    <a href="/users/login" class="btn">Login</a>
  </div>
</div>
</body>
</html>
